body
{
    margin: 0;
    padding: 0;

}

div.container
{
    background-image: url('photo.jpg');
    margin-top: 50%;
    margin-bottom: 50%;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}